a {
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
  margin: 0px;
  list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
  outline: none;
  border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}



/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1300px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  width: 100%;
  background-color: #fff;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding-left: 25px;
}

.column100.column1 {
  width: 265px;
  padding-left: 42px;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}


/*==================================================================
[ Ver1 ]*/
.table100.ver1 td {
    font-family: inherit;
    font-size: 14px;
    color: white;
    line-height: 1.4;
    background-color: orange;
    padding: 5px;
    text-align: center;
}

.table100.ver1 th {
  font-family: inherit;
    font-size: 14px;
    text-align: center;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: orange;
    padding: 20px;
}

.table100.ver1 .row100:hover {
  background-color: #f2f2f2;
}

.table100.ver1 .hov-column-ver1 {
  background-color: #f2f2f2;
}

.table100.ver1 .hov-column-head-ver1 {
  background-color: #484848 !important;
}


/*[ TEXT ]
///////////////////////////////////////////////////////////
*/
/* ------------------------------------ */
.text-white {color: white;}
.text-black {color: black;}

.text-hov-white:hover {color: white;}

/* ------------------------------------ */
.text-up {text-transform: uppercase;}

/* ------------------------------------ */
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-middle {vertical-align: middle;}

/* ------------------------------------ */
.lh-1-0 {line-height: 1.0;}
.lh-1-1 {line-height: 1.1;}
.lh-1-2 {line-height: 1.2;}
.lh-1-3 {line-height: 1.3;}
.lh-1-4 {line-height: 1.4;}
.lh-1-5 {line-height: 1.5;}
.lh-1-6 {line-height: 1.6;}
.lh-1-7 {line-height: 1.7;}
.lh-1-8 {line-height: 1.8;}
.lh-1-9 {line-height: 1.9;}
.lh-2-0 {line-height: 2.0;}
.lh-2-1 {line-height: 2.1;}
.lh-2-2 {line-height: 2.2;}
.lh-2-3 {line-height: 2.3;}
.lh-2-4 {line-height: 2.4;}
.lh-2-5 {line-height: 2.5;}
.lh-2-6 {line-height: 2.6;}
.lh-2-7 {line-height: 2.7;}
.lh-2-8 {line-height: 2.8;}
.lh-2-9 {line-height: 2.9;}





/*[ SHAPE ]
///////////////////////////////////////////////////////////
*/

/*[ Display ]
-----------------------------------------------------------
*/
.dis-none {display: none;}
.dis-block {display: block;}
.dis-inline {display: inline;}
.dis-inline-block {display: inline-block;}
.dis-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

/*[ Position ]
-----------------------------------------------------------
*/
.pos-relative {position: relative;}
.pos-absolute {position: absolute;}
.pos-fixed {position: fixed;}

/*[ float ]
-----------------------------------------------------------
*/
.float-l {float: left;}
.float-r {float: right;}


/*[ Width & Height ]
-----------------------------------------------------------
*/
.sizefull {
  width: 100%;
  height: 100%;
}
.w-full {width: 100%;}
.h-full {height: 100%;}
.max-w-full {max-width: 100%;}
.max-h-full {max-height: 100%;}
.min-w-full {min-width: 100%;}
.min-h-full {min-height: 100%;}

/*[ Top Bottom Left Right ]
-----------------------------------------------------------
*/
.top-0 {top: 0;}
.bottom-0 {bottom: 0;}
.left-0 {left: 0;}
.right-0 {right: 0;}

.top-auto {top: auto;}
.bottom-auto {bottom: auto;}
.left-auto {left: auto;}
.right-auto {right: auto;}


/*[ Opacity ]
-----------------------------------------------------------
*/
.op-0-0 {opacity: 0;}
.op-0-1 {opacity: 0.1;}
.op-0-2 {opacity: 0.2;}
.op-0-3 {opacity: 0.3;}
.op-0-4 {opacity: 0.4;}
.op-0-5 {opacity: 0.5;}
.op-0-6 {opacity: 0.6;}
.op-0-7 {opacity: 0.7;}
.op-0-8 {opacity: 0.8;}
.op-0-9 {opacity: 0.9;}
.op-1-0 {opacity: 1;}

/*[ Background ]
-----------------------------------------------------------
*/
.bgwhite {background-color: white;}
.bgblack {background-color: black;}



/*[ Wrap Picture ]
-----------------------------------------------------------
*/
.wrap-pic-w img {width: 100%;}
.wrap-pic-max-w img {max-width: 100%;}

/* ------------------------------------ */
.wrap-pic-h img {height: 100%;}
.wrap-pic-max-h img {max-height: 100%;}

/* ------------------------------------ */
.wrap-pic-cir {
  border-radius: 50%;
  overflow: hidden;
}
.wrap-pic-cir img {
  width: 100%;
}



/*[ Hover ]
-----------------------------------------------------------
*/
.hov-pointer:hover {cursor: pointer;}

/* ------------------------------------ */
.hov-img-zoom {
  display: block;
  overflow: hidden;
}
.hov-img-zoom img{
  width: 100%;
  -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}
.hov-img-zoom:hover img {
  -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  transform: scale(1.1);
}



/*[  ]
-----------------------------------------------------------
*/
.bo-cir {border-radius: 50%;}

.of-hidden {overflow: hidden;}

.visible-false {visibility: hidden;}
.visible-true {visibility: visible;}




/*[ Transition ]
-----------------------------------------------------------
*/
.trans-0-1 {
  -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}
.trans-0-2 {
  -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.trans-0-3 {
  -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.trans-0-4 {
  -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.trans-0-5 {
  -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.trans-0-6 {
  -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}
.trans-0-9 {
  -webkit-transition: all 0.9s;
    -o-transition: all 0.9s;
    -moz-transition: all 0.9s;
    transition: all 0.9s;
}
.trans-1-0 {
  -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}



/*[ Layout ]
///////////////////////////////////////////////////////////
*/

/*[ Flex ]
-----------------------------------------------------------
*/
/* ------------------------------------ */
.flex-w {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* ------------------------------------ */
.flex-l {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
}

.flex-r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}

.flex-c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.flex-sa {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}

.flex-sb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

/* ------------------------------------ */
.flex-t {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.flex-b {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.flex-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.flex-str {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: stretch;
  align-items: stretch;
}

/* ------------------------------------ */
.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}

.flex-row-rev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -o-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.flex-col-rev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

/* ------------------------------------ */
.flex-c-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.flex-c-t {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.flex-c-b {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.flex-c-str {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: stretch;
  align-items: stretch;
}

.flex-l-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  -ms-align-items: center;
  align-items: center;
}

.flex-r-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  -ms-align-items: center;
  align-items: center;
}

.flex-sa-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
}

.flex-sb-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

/* ------------------------------------ */
.flex-col-l {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.flex-col-r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.flex-col-c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.flex-col-l-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
  justify-content: center;
}

.flex-col-r-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-end;
  align-items: flex-end;
  justify-content: center;
}

.flex-col-c-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.flex-col-str {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: stretch;
  align-items: stretch;
}

.flex-col-sb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}

/* ------------------------------------ */
.flex-col-rev-l {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.flex-col-rev-r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.flex-col-rev-c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-align-items: center;
  align-items: center;
}

.flex-col-rev-str {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-align-items: stretch;
  align-items: stretch;
}


/*[ Absolute ]
-----------------------------------------------------------
*/
.ab-c-m {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ab-c-t {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ab-c-b {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ab-l-m {
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ab-r-m {
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ab-t-l {
  position: absolute;
  left: 0px;
  top: 0px;
}

.ab-t-r {
  position: absolute;
  right: 0px;
  top: 0px;
}

.ab-b-l {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.ab-b-r {
  position: absolute;
  right: 0px;
  bottom: 0px;
}





.carousel-caption h1,h2,h3,h4,h5,h6{
  color: black;
}
#text{
display:none;
}
#gen
{
  width: 50px; 
  height: 50px; 
  margin-left: 48%;
}
#blast
{
  display: flex !important; 
  margin-left: 160px;

}
.facebook
{
  font-size: 18px;
    display: inline-block;
    background-color: #222636;
    color: #eee !important;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
#toggle
{
  color: #fff;
    background: #f7911e;
    padding: 7px 22px;
    border-radius: 50px;
    border: 2px solid #f7911e;
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    margin-left: 8px;
    margin-top: 2px;
    line-height: 1;
    font-size: 13px;
}
#toggle:hover
{
  background-color: #0dd5b7;
  border-color: #0dd5b7;
}
#bt
{
  color: #fff;
    background: #f7911e;
    padding: 7px 22px;
    border-radius: 50px;
    border: 2px solid #f7911e;
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    margin-left: 8px;
    margin-top: 2px;
    line-height: 1;
    font-size: 13px;
    margin-left: 400px;
}
#bt:hover
{
  background-color: #0dd5b7;
  border-color: #0dd5b7;
}
.twitter
{
  font-size: 18px;
    display: inline-block;
    background-color:  #222636;
    color: #eee !important;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
.facebook:hover
{

    display: inline-block;
    background: #f39200;

}
#ic
{
  width: 100px; 
  height: 100px;
  margin-left: 39%;
}
.twitter:hover
{
 
    background: #f39200;
}
#cen
{
      display: flex !important;
    margin-left: 240px;
}
#two-cities
{
  text-align: justify !important;
}
#collect
{
  text-align: justify !important;
}
.carousel-caption p{
  color: black;
  font-family: inherit;
  font-size: 20px;
}
#buses-reqs
{
  text-align: justify !important;
  margin-left: 100px;
}
#reqs
{
  text-align: justify !important;
}
.carousel-caption
{
  bottom: 300px !important;
}

#colc
{
  text-align: center;
}

#po
{
  display: none;
}

#fl
{
  display: none;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: black;
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-inner {
    background-color: black !important;
    height: 700px;
}

#col
{
  color: orange !important;
}

.img-fluid {
    margin-left: 15px;
}

#hre
{
  width: 300px;
  border: 0.5px solid white;
}
.item 
{
  position: relative
}

.carousel-inner
{
  background-color: black !important;
}

.item:before 
{
  content: '';

  /* change this value from 0.1 to 1; */
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

#inactive
{
  background-color: #eeeeee;
}

li 
{
 display: block;
 transition-duration: 0.5s;

}

li:hover 
{
  cursor: pointer;
}

ul li ul 
{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover 
{
  visibility: visible;
  opacity: 1;
  display: block;
  background-color: black;
  color: orange;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.nav-menu ul li a
{
	color: white;
}

.nav-menu ul li a:hover
{
	color: orange;
	background-color: transparent;
}

.logo
{
  height: 100px;
  width: 100px;
}
#scroll
{
  overflow: hidden;
}

/* width */
body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.freebirdFormviewerViewHeaderHeader {

    display: none !important;
}
.tips
{
  line-height: 14px;

}
#todo
{
  text-align: justify !important;
}
.p1
{
  line-height: 20px;
  margin-bottom: 9px;
}
#weather
{
  margin-top: 68px !important;
  height: 240px;
}
#tips
{
  height: 1300px;
  margin-top: 80px;
    background: url("../img/icons/Backgrounds/Back 5.png");
    background-size: contain;
    color: white;
    margin-bottom: -30px;
    text-align: justify !important; 
}
#basic
{
  height: 400px;
  margin-top: -30px;
    background: url("../img/icons/Backgrounds/Back 2.png");
    background-size: contain;
    color: white;
    margin-bottom: -30px;
    text-align: justify !important; 
}
#ps
{
  margin-top: 30px;
}
.speak1 {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-left: 452px;
}
.speak12 {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-left: 452px;
}
#accom
{
    height: 210px;
}
#inv
{
  margin-top: 90px !important;

}
#work
{
  margin-top: 90px !important;
}
.img-fluid
{
  max-height: 290px;
}
.vbox-container img
{
  max-height: 600px;
}

@media only screen and (min-width: 300px) and (max-width: 768px)
{
  #jul
  {
    line-height: 0px !important;
    margin-top: -20px;
  }
  #schedule
  {
    background: url(../img/icons/1.png) !important;
  }
  #gen
  {
    margin-left: 44%;
  }
  #ic
{
  width: 100px; 
  height: 100px;
  margin-left: 35%;
}
  #tab1
  { 
    margin-left: 0px !important;
  }
  #app .nav-tabs
  {
    margin-left: 0px !important;
    display: block;
  }
  #bt
  {
    margin-left: 200px !important;
  }
  .twitter
  {
    width: 36px !important;
  }
  .facebook
  {
    width: 36px !important;
  }
  .speak12 {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-left: 75px !important;
  }
  .carousel-inner
  {
    background-color: black !important;
    height: 192px;
  }
    #tips
  {
    height: 2080px !important;
  }
  .form-row
  {
    display: none;
  }
  #format
  {
    display: none !important;
  }
  #forms
  {
    display: block !important;
    margin-left: 5px;
  }
  #format
  {
    display: block !important;
    margin-left: 40px; 
  }
  #forma
  {
    display: none !important;
  }
  
  .carousel
  {
    margin-top: 70px;
  }
  #wh
  {
    margin-left: 0px !important;
  }
  #accom
  {
    margin-top: 70px !important;
  }
  .section-header h2
  {
    font-size: 20px;
  }
  #strip
  {
    display: none;
  }
  .img-fluid
  {
    margin-left: 0px !important;
  }
}

@media only screen and (min-width: 300px) and (max-width: 768px)
{
  #gen
  {
    margin-left: 44%;
  }
  #ic
{
  width: 100px; 
  height: 100px;
  margin-left: 35%;
}
  #tab1
  { 
    margin-left: 0px !important;
  }
  #app .nav-tabs
  {
    margin-left: 0px !important;
    display: block;
  }
  #bt
  {
    margin-left: 200px !important;
  }
  .twitter
  {
    width: 36px !important;
    margin-left: 20px !important;
  }
  .facebook
  {
    width: 36px !important;
    margin-left: 20px !important;
  }
  .speak12 {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-left: 75px !important;
  }
    #tips
  {
    height: 2080px !important;
  }
  .carousel-inner
  {
    background-color: black !important;
    height: 192px;
  }
  .form-row
  {
    display: none;
  }
  #format
  {
    display: block !important;
  }
  #forms
  {
    display: block !important;
  }
  #forma
  {
    display: none !important;
  }
  
  .carousel
  {
    margin-top: 70px;
  }
  #wh
  {
    margin-left: 0px !important;
  }
  #accom
  {
    margin-top: 70px !important;
  }
  .section-header h2
  {
    font-size: 20px;
  }
  #strip
  {
    display: none;
  }
  .img-fluid
  {
    margin-left: 0px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px)
{
  #gen
  {
    margin-left: 44%;
  }
  #ic
{
  width: 100px; 
  height: 100px;
  margin-left: 35%;
}
 #tab1
  { 
    margin-left: 0px !important;
  }
  #app .nav-tabs
  {
    margin-left: 0px !important;
    display: block;
  }
  #bt
  {
    margin-left: 200px !important;
  }
  .twitter
  {
    width: 36px !important;
    margin-left: 20px !important;
  }
  .facebook
  {
    width: 36px !important;
    margin-left: 20px !important;
  }
  .speak12 {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-left: 75px !important;
  }
  .carousel-inner
  {
    background-color: black !important;
    height: 192px;
  }
  .form-row
  {
    display: none;
  }
  #format
  {
    display: none !important;
  }
  #forms
  {
    display: none !important;
  }
  #forma
  {
    display: block !important;
  }
  
  .carousel
  {
    margin-top: 70px;
  }
  #wh
  {
    margin-left: 0px !important;
  }
  #accom
  {
    margin-top: 70px !important;
  }
  .section-header h2
  {
    font-size: 20px;
  }
  #strip
  {
    display: none;
  }
  .img-fluid
  {
    margin-left: 0px !important;
  }
    #tips
  {
    height: 1500px !important;
  }
   #security
  {
    height: 1500px !important;
  }
}
@media only screen and (min-width: 1024px )  and (max-width: 1024px)
{
  #gen
  {
    margin-left: 44%;
  }
   #security
  {
    height: 1500px !important;
  }
  #ic
{
  width: 100px; 
  height: 100px;
  margin-left: 35%;
}
  #tab1
  { 
    margin-left: 0px !important;
  }
  #app .nav-tabs
  {
    margin-left: 0px !important;
    display: block;
  }
  #bt
  {
    margin-left: 200px !important;
  }
  .twitter
  {
    width: 36px !important;
    margin-left: 20px !important;
  }
  .facebook
  {
    width: 36px !important;
    margin-left: 20px !important;
  }
  .speak12 {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-left: 75px !important;
  }
  .carousel-inner
  {
    background-color: black !important;
    height: 192px;
  }
  #forms
  {
    display: none;
  }
  #format
  {
    display: none;
  }
  .form-row
  {
    display: none;
  }
  #forma
  {
    display: block !important;
  }
  #speak1
  {
    margin-left: 363px !important;
  }
  #strip
  {
    display: none;
  }
   #wh
  {
    margin-left: 0px !important;
  }
  .img-fluid
  {
    margin-left: 0px !important;
  }
    #tips
  {
    height: 2080px !important;
  }
}
#forms
{
  display: none;
}

#forma
{
  display: none;
}
#format
{
  display: none;
}

@media only screen and (max-width: 767px)
{
  #gen
  {
    margin-left: 44%;
  }
   #security
  {
    height: 1500px !important;
  }
  #ic
{
  width: 100px; 
  height: 100px;
  margin-left: 35%;
}
  #tab1
  { 
    margin-left: 0px !important;
  }
  #app .nav-tabs
  {
    margin-left: 0px !important;
    display: block;
  }
  #bt
  {
    margin-left: 200px !important;
  }
  .twitter
  {
    width: 36px !important;
    margin-left: 20px !important;
  }
  .facebook
  {
    width: 36px !important;
    margin-left: 20px !important;
  }
  .speak12 {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-left: 75px !important;
  }
  .carousel-inner
  {
    background-color: black !important;
    height: 192px;
  }
  #todo
  {
    margin-top: 50px !important;
  }
  .img-fluid
  {
    margin-left: 0px !important;
  }
  #weather  
  {
    height: 400px;
    margin-top: 48px !important;
  }
  #tips
  {
    height: 2000px !important;
  }
  #pc
  {
    display: none !important;

  }
  #mob
  {
    display: block !important;
  }
  #strip
  {
    display: none;
  }
  #tw
  {
    margin-left: 0% !important;
  }
   #wh
  {
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1440px)
{
  #gen
  {
    margin-left: 44%;
  }
   #security
  {
    height: 1500px !important;
  }
  #ic
{
  width: 100px; 
  height: 100px;
  margin-left: 35%;
}
  #tab1
  { 
    margin-left: 0px !important;
  }
  #app .nav-tabs
  {
    margin-left: 0px !important;
    display: block;
  }
  #bt
  {
    margin-left: 200px !important;
  }
 .twitter
  {
    width: 36px !important;
    margin-left: 20px !important;
  }
  .facebook
  {
    width: 36px !important;
    margin-left: 20px !important;
  }
  .speak12 {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-left: 75px !important;
  }
  .carousel-inner
  {
    background-color: black !important;
    height: 192px;
  }
    #tips
  {
    height: 2080px !important;
  }
  #logo
  {
    margin-left: -100px !important;
  }
  #nav-menu-container
  {
    margin-left: 272px !important;
    width: 1000px;
  }
  #strip
  {
    display: none;
  }
   #wh
  {
    margin-left: 0px !important;
  }
  .img-fluid
  {
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 1248px) and (min-width: 769px)
{
  #gen
  {
    margin-left: 44%;
  }
   #security
  {
    height: 1500px !important;
  }
  #ic
{
  width: 100px; 
  height: 100px;
  margin-left: 35%;
}
  #tab1
  { 
    margin-left: 0px !important;
  }
  #app .nav-tabs
  {
    margin-left: 0px !important;
    display: block;
  }
  #bt
  {
    margin-left: 200px !important;
  }
 .twitter
  {
    width: 36px !important;
    margin-left: 20px !important;
  }
  .facebook
  {
    width: 36px !important;
    margin-left: 20px !important;
  }
  .speak12 {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-left: 75px !important;
  }
  .carousel-inner
  {
    background-color: black !important;
    height: 192px;
  }
    #tips
  {
    height: 2080px !important;
  }
  #strip
  {
    display: none
  }
  #forms
  {
    display: none;
  }
  #format
  {
    display: none;
  }
  .form-row
  {
    display: none;
  }
   #wh
  {
    margin-left: 0px !important;
  }
  .img-fluid
  {
    margin-left: 0px !important;
  }
}

#pc
{
  display: block;
}
#mob
{
  display: none;
}
#todo
{
  margin-top: 80px;
}
#security
{
  background: url("../img/icons/Backgrounds/Back 1.png");
  background-size: contain;
  height: 690px;
  text-align: justify !important;
}
#security
{
  margin-bottom: -10px;
}
#name
{
  display: none;
}
.ven:hover #name
{
  display: block !important;
  transition: 2s;
}
#collect
{
  overflow: hidden;
  position: relative;
  background-size: cover;
  padding:20px;
  color: black;
  background: url("../img/ab2.png");
  padding: 60px 0 40px 0;
  font-size: 16px;
}

#names
{
  text-align: center;
}

#news
{
  line-height: 30px;
}
#schedule
{
  background: url("../img/test.png");
    background-repeat: round;
  background-color: white;
}
#strip
{
  height: 45px;
  margin-left: -30px;
}
